<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello World <%= name %> <!--     is used if we want to display the evaluated result   -->

        <% if(10> 3){ %>
            <h2> 10 is greater than 3 </h2>
            <% } %> <!--  is used if we dont wannna displayy the code but it has logic -->
</body>

</html>